<footer class="px-5 py-3 border-top d-flex flex-column flex-md-row justify-content-between align-items-baseline">
    <div class="d-flex flex-column flex-md-row gap-4 align-items-baseline">
        <img src="https://www.lesmajesticiels.org/assets/logos/lesmajesticiels.png" alt="Les Majesticiels" height="30">
        <p class="m-0 text-muted">&copy; 2014-{{year}} Quentin Pugeat</p>
    </div>
    <div class="d-flex flex-column flex-md-row gap-3">
        <a href="https://github.com/SmartNetApps/MajesticStart">Code source</a>
        <a href="#">Confidentialité</a>
        <a href="https://www.lesmajesticiels.org/support/kb/product/homepage">Assistance</a>
    </div>
</footer>
<script src="https://assets.lesmajesticiels.org/libraries/bootstrap/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
<script src="https://assets.lesmajesticiels.org/libraries/bootstrap/bootstrap-5.x-custom/color-modes-toggler.js"></script>